# Helm values to deploy cvmfs-csi with eessi.io CVMFS repository support

# Configure the default CVMFS HTTP proxy to DIRECT (will allow also cern.ch repos to work out of the box)
cmvfsHttpProxy: DIRECT

extraConfigMaps:
  cvmfs-csi-domain-d:
    eessi.io.conf: |
      CVMFS_HTTP_PROXY="DIRECT"
      CVMFS_SERVER_URL="http://aws-eu-central-s1.eessi.science/cvmfs/@fqrn@;http://azure-us-east-s1.eessi.science/cvmfs/@fqrn@"
      CVMFS_KEYS_DIR="/etc/cvmfs/keys/eessi.io"
  cvmfs-csi-keys:
    eessi.io.pub: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyau1UFUcoiqpE5U9StON
      W0Trc3PM02AA5kYgknrqZJdusj5PcNg7rhOnrd+SX8BIiVtVMr6mqORXsJ2FNydJ
      lfm512GcmurM154m6Hz4I+UttcpVLe1CvlyxjjCrN0siSiPnLDONy3Ih1PWyRlA/
      sobSaIhx3Vyn1IzC0nbjstKObAYJs2kjokS+cipX2oIXJSoxkhvXcxmiMCi2GQIs
      KTQDT+bATs9eK+ZqY4n5x8VX87AlMBQuSCP5mA8VQPx4aCf8AjHWAn3qmPrhk3od
      Z/Cl9vrYzoWJT1HOyumv7aEv7UlY81++3w/AwYKXLJI6ioop2AotjrUm3w2U3+k7
      WQIDAQAB
      -----END PUBLIC KEY-----

cache:
  local:
    location: /cvmfs-localcache
    volumeSpec:
      hostPath:
        path: /var/lib/cvmfs.csi.cern.ch/cache
        type: DirectoryOrCreate
    # Maximum size of local cache in MiB.
    # CVMFS client will garbage collect the exceeding amount.
    cvmfsQuotaLimit: 10000

# Add the extra domain.d and keys configmaps to the nodeplugin pods
# dics will replace instead of update so they need to specify also the original values from
# https://github.com/cvmfs-contrib/cvmfs-csi/blob/master/deployments/helm/cvmfs-csi/values.yaml
nodeplugin:
  extraVolumes:
    # Original volumes from cvmfs-csi values.yaml
    - name: etc-cvmfs-default-local
      configMap:
        name: cvmfs-csi-default-local
    - name: etc-cvmfs-config-d
      configMap:
        name: cvmfs-csi-config-d
    - name: etc-cvmfs-default-d
      configMap:
        name: cvmfs-csi-default-d
    # New volumes for eessi.io
    - name: etc-cvmfs-domain-d
      configMap:
        name: cvmfs-csi-domain-d
    - name: etc-cvmfs-keys
      configMap:
        name: cvmfs-csi-keys

  automount:
    extraVolumeMounts:
      # Original mounts from cvmfs-csi values.yaml
      - name: etc-cvmfs-default-local
        mountPath: /etc/cvmfs/default.local
        subPath: default.local
      - name: etc-cvmfs-config-d
        mountPath: /etc/cvmfs/config.d
      # New mounts for eessi.io
      - name: etc-cvmfs-domain-d
        mountPath: /etc/cvmfs/domain.d/eessi.io.conf
        subPath: eessi.io.conf
      - name: etc-cvmfs-keys
        mountPath: /etc/cvmfs/keys/eessi.io/eessi.io.pub
        subPath: eessi.io.pub
  
  automountReconciler:
    extraVolumeMounts:
      # Original mounts from cvmfs-csi values.yaml
      - name: etc-cvmfs-default-local
        mountPath: /etc/cvmfs/default.local
        subPath: default.local
      - name: etc-cvmfs-config-d
        mountPath: /etc/cvmfs/config.d
      # New mounts for eessi.io
      - name: etc-cvmfs-domain-d
        mountPath: /etc/cvmfs/domain.d/eessi.io.conf
        subPath: eessi.io.conf
      - name: etc-cvmfs-keys
        mountPath: /etc/cvmfs/keys/eessi.io/eessi.io.pub
        subPath: eessi.io.pub

# Automatically create the StorageClass for singlemount-ing the software.eessi.io repository
specificRepositoryStorageClasses:
  - name: software-eessi-io
    repository: software.eessi.io

# Path on the host where to mount the autofs-managed CVMFS root.
# The directory will be created if it doesn't exist.
automountHostPath: /var/cvmfs
